<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: lightblue;
}

h1 {
  color: rgb(238, 9, 9);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
</style>
</head>
<body>

<h1>WELKOM OP DEZE SITE</h1>
<p>COMING SOON!.</p>

</body>
</html>
