body {
  background-color: rgb(255, 228, 55);
}

h1 {
  color: hwb(240 2% 9%);
  margin-left: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}